<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="12567760-9b2d-44ad-8433-fcefea09197e" name="Station D" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="12567760-9b2d-44ad-8433-fcefea09197efileName">Station-D</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
