<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="3f60d3f5-d353-4172-881b-82e39e84522d" name="Single Stations">
  <con:settings id="98bc93bf-57ce-4e70-a285-b54e648729f3">
    <con:setting id="3f60d3f5-d353-4172-881b-82e39e84522dfileName">Single-Stations</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="5bde98c7-81ae-4e7e-8f4e-ccec22a65cbf">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>ee4d4dab-d8c4-479f-9474-853eba747130</con:tagId>
</con:testSuite>
